@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	position: relative;
	max-height: 100vh;
	background: #052942;
}

.backButton {
	position: relative;
	margin: 2% 0% 0.5% 0.5%;
}

.backButton a {
	text-decoration: none;
	color: #fff;
}

.backButton .material-icons:hover {
	color: rgb(209, 209, 209);
	transition: color 0.2s;
}

@media (orientation: landscape) {
	.backButton .material-icons {
		position: relative;
		left: 2%;
		font-size: 1.5vw;
		transition: color 0.2;
	}
	
	.contactMe {
		color: #fff;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 2% 0 1% 0;
		font-size: 3vw;
		font-weight: 900;
		letter-spacing: 3px;
	}
	
	.form-flex {
		display: flex;
		width: 45%;
		height: 30vw;
		margin: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.322);
		padding: 2% 0;
		border-radius: 10px;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
	}
	
	.nameEmail {
		width: 80%;
		height: 7%;
		display: flex;
		justify-content: space-between;
		margin: 1.5% 0;
	}
	
	.inputName,.inputEmail {
		width: 48%;
		height: 100%;
	}
	
	.inputSubject {
		width: 80%;
		height: 7%;
		margin: 1.5% 0;
		display: flex;
	}
	
	.inputSubjectField {
		width: 100%;
	}
	
	.inputMessage {
		width: 80%;
		height: 60%;
		margin: 1.5% 0;
		display: flex;
	}
	
	.inputMessageField {
		width: 100%;
	}
	
	button {
		width: 80%;
		height: 8%;
		background-color: rgb(241, 176, 97);
		border: none;
		margin: 1.5% 0;
		border-radius: 10px;
		transition: 0.3s;
	}
	
	button:hover {
		background-color: rgb(192, 140, 77);
	}
	
	input,input::-webkit-input-placeholder,textarea,textarea::-webkit-input-placeholder  {
		border: none;
		font-size: 1vw;
		border-radius: 10px;
		padding-left: 1%;
	}
	
	.inputName:focus,.inputEmail:focus,.inputSubjectField:focus,.inputMessageField:focus,button:focus {
		outline:none;
	}

	button text {
		font-size: 1.2vw; 
		font-weight: bold;
	}
}

@media (orientation: portrait) {
	.backButton .material-icons {
		position: relative;
		left: 2%;
		font-size: 5vw;
		transition: color 0.2;
	}
	.contactMe {
		color: #fff;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 2% 0 1% 0;
		font-size: 8vw;
		font-weight: 800;
		letter-spacing: 2px;
	}

	.form-flex{
		display: flex;
		width: 80%;
		height: 120vw;
		margin: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.322);
		padding: 5% 0;
		border-radius: 10px;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
	}

	.nameEmail{
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 22vw;
	}

	.inputEmail,.inputName{
		height: 50%;
		margin: 1% 0%; 
	}

	.inputSubject {
		width: 80%;
		height: 11vw;
		margin: 1% 0;
		display: flex;
	}
	
	.inputSubjectField {
		width: 100%;
	}
	
	.inputMessage {
		width: 80%;
		height: 60%;
		margin: 3% 0;
		display: flex;
	}
	
	.inputMessageField {
		width: 100%;
	}

	button {
		width: 80%;
		height: 10%;
		background-color: rgb(241, 176, 97);
		border: none;
		margin: 1.5% 0;
		border-radius: 10px;
	}

	button text {
		font-size: 4vw; 
		font-weight: bold;
	}

	input,input::-webkit-input-placeholder, textarea, textarea::-webkit-input-placeholder {
		border: none;
		font-size: 4vw;
		border-radius: 5px;
		padding-left: 1%;
	}
	
	.inputName:focus,.inputEmail:focus,.inputSubjectField:focus,.inputMessageField:focus,button:focus {
		outline:none;
	}
}